Connected Services/Service/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contracts.IDataBase" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contracts.IDataBase" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFriendRequestData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendRequestData" nillable="true" type="tns:FriendRequestData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendRequestData" nillable="true" type="tns:ArrayOfFriendRequestData" />
  <xs:complexType name="FriendRequestData">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDRequest" type="xs:int" />
      <xs:element minOccurs="0" name="SenderName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendRequestData" nillable="true" type="tns:FriendRequestData" />
  <xs:complexType name="ArrayOfFriendList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendList" nillable="true" type="tns:FriendList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendList" nillable="true" type="tns:ArrayOfFriendList" />
  <xs:complexType name="FriendList">
    <xs:sequence>
      <xs:element minOccurs="0" name="FriendName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Games" type="xs:int" />
      <xs:element minOccurs="0" name="GamesWins" type="xs:int" />
      <xs:element minOccurs="0" name="IdFriend" type="xs:int" />
      <xs:element minOccurs="0" name="IsOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="WinRate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendList" nillable="true" type="tns:FriendList" />
</xs:schema>