Connected Services/Service/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataBase" />
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" />
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import schemaLocation="http://localhost:8082/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Contracts.IDataBase" />
  <xs:element name="RegisterPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataBase" minOccurs="0" name="player" nillable="true" type="q1:PlayerSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterPlayerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataBase" minOccurs="0" name="player" nillable="true" type="q2:PlayerSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlayerSearchResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerId" type="xs:int" />
        <xs:element minOccurs="0" name="currentPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyPasswordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPlayerNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Game" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="GetGameResult" nillable="true" type="q3:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyPlayersName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
        <xs:element minOccurs="0" name="idGame" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMyPlayersNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMyPlayersNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verifyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendEmailResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="GetPlayerDataResult" nillable="true" type="q4:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayerData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nickName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayerDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePlayerDataResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogOutResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePlayerSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePlayerSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDPlayer" type="xs:int" />
        <xs:element minOccurs="0" name="namePlayer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeFriendRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MakeFriendRequestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdRequest" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptFriendRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcceptFriendRequestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdRequest" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectFriendRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RejectFriendRequestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayerSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayerSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePlayerSessionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFriendRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFriendRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFriendDisplay">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFriendDisplayResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="game" nillable="true" type="q5:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddGameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlayerToGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="game" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="player" nillable="true" type="q6:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlayerToGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPlayerToGameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGuestToGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGame" type="xs:int" />
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGuestToGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGame" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGame" type="xs:int" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="game" nillable="true" type="q7:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="game" nillable="true" type="q8:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayerGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="game" nillable="true" type="q9:Game" />
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="playersPiece" nillable="true" type="q10:Piece" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayerGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePlayerGameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectedPiece">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="game" nillable="true" type="q11:Game" />
        <xs:element minOccurs="0" name="piece" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSelectedPiece">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="game" nillable="true" type="q12:Game" />
        <xs:element minOccurs="0" name="piece" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckReadyToStartGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="game" nillable="true" type="q13:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnCheckReadyToStartGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="game" nillable="true" type="q14:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InactivateBeginGameControls">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGame" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTakenPieces">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="game" nillable="true" type="q15:Game" />
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InviteFriendToGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeGame" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="friendId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InviteFriendToGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePlayerFromGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="game" nillable="true" type="q16:Game" />
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePlayerFromGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayerListInGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="game" nillable="true" type="q17:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVisualPlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="playersInGame" nillable="true" type="q18:QueueOfPlayerTKMUywDq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVisualPlayersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveToGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="game" nillable="true" type="q19:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveToGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PreparePieces">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="game" nillable="true" type="q20:Game" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="playersInGame" nillable="true" type="q21:ArrayOfPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreparePiecesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockPiece">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="piece" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BlockPieceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnblockPiece">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="piece" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnblockPieceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableStartGameButton">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableStartGameButtonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableStartGameButton">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableStartGameButtonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayTurn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="game" nillable="true" type="q22:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdvanceTurn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGame" type="xs:int" />
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdvanceTurnResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayerService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
        <xs:element minOccurs="0" name="idGame" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchaseProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="property" nillable="true" type="q23:Property" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="buyer" nillable="true" type="q24:Player" />
        <xs:element minOccurs="0" name="idGame" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurchasePropertyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQueu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGame" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGame" type="xs:int" />
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="wildcard" nillable="true" type="q25:Wildcard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JailPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGame" type="xs:int" />
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RealizePropertyMortgage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGame" type="xs:int" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="property" nillable="true" type="q26:Property" />
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeclareLosingPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="loserPlayer" nillable="true" type="q27:Player" />
        <xs:element minOccurs="0" name="idGame" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayPropertyMortgage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="game" nillable="true" type="q28:Game" />
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="mortgagedProperty" nillable="true" type="q29:Property" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GoToJail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="player" nillable="true" type="q30:Player" />
        <xs:element minOccurs="0" name="idGame" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="property" nillable="true" type="q31:Property" />
        <xs:element minOccurs="0" name="idGame" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpelPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
        <xs:element minOccurs="0" name="idGame" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayersInGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGame" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayConstruction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
        <xs:element minOccurs="0" name="constructionCost" type="xs:long" />
        <xs:element minOccurs="0" name="idGame" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayConstructionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumberOfPlayersAtPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="game" nillable="true" type="q32:Game" />
        <xs:element minOccurs="0" name="position" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumberOfPlayersAtPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNumberOfPlayersAtPositionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayDie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstDieValue" type="xs:int" />
        <xs:element minOccurs="0" name="SecondDieValue" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayDieResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MovePlayerPieceOnBoard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="player" nillable="true" type="q33:Player" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="property" nillable="true" type="q34:Property" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="game" nillable="true" type="q35:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovePlayerPieceOnBoardResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="property" nillable="true" type="q36:Property" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowCardResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTurns">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="turns" nillable="true" type="q37:QueueOfPlayerTKMUywDq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTurnsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="friends" nillable="true" type="q38:QueueOfPlayerTKMUywDq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadFriendsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyPlayerOfEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="messageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyPlayerOfEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpgradePlayerMoney">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="money" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpgradePlayerMoneyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveGamePiece">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="player" nillable="true" type="q39:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveGamePieceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EndGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idWinner" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePropertyStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Contracts.IGameManager" minOccurs="0" name="property" nillable="true" type="q40:Property" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePropertyStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExitToGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExitToGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowButtonsForEnd">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowButtonsForEndResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Contracts.IDataBase" minOccurs="0" name="GetFriendRequestsResult" nillable="true" type="q41:ArrayOfFriendRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Contracts.IDataBase" minOccurs="0" name="GetFriendsResult" nillable="true" type="q42:ArrayOfFriendList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsGameFull">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsGameFullResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsGameFullResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchGameByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchGameByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchGameByCodeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsGameOngoing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsGameOngoingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsGameOngoingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>